@{
	ViewData["Title"] = "EstiaSeek - Oh no!";
}
<section id="about" class="front-page-section">
	<div class="container">
			<div id="section-title">
				<h1 class="text-capitalize text-center text-danger">yikes that's an error!</h1>
			</div>
		<div>
				<p class="section-description text-center">
					The URL you entered does not exist on this webpage
					<br />
					or maybe it just has not been implemented yet
				</p>		
		</div>
			<p class="small text-capitalize text-center">
				back to <a asp-controller="Home" asp-action="Index"> home</a>
			</p>
	</div>
</section>
